<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/add" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="G-name">Gaurdians Name:</label>
        <input type="text" id="G-name" name="G-name">
        <br>
        <label for="img_file">Image:</label>
        <input type="file" id="img_file" name="img_file">
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>