<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Password</title>
</head>
<body>
    <div class="container">
        <form action="/changing_pass" method="POST">
            <input type="text" name="Roll" placeholder="Roll Number...">
            <input type="password" name="current_pass" placeholder="Eneter Current Password...">
            <input type="password" name="pass" placeholder="New Password...">
            <input type="password" name="new_pass" placeholder="Confirm New Password...">
            <button type="submit">Change</button>
        </form>
    </div>
</body>
</html>